{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "frontmenu" }}
{{ partial "nav.html" . }}
{{ end }} 
{{ define "main" }}
<div class="ui centered grid">
	<div class="sixteen wide mobile only column">	
			{{- partial "header.html" . -}}
	</div>
	<div class="sixteen wide mobile fifteen wide tablet twelve wide computer column post-list">
		<section class="ui secondary top attached black segment post-head">
			<h1 class="post-title">
				{{ .Title }} - {{ .Description }}
			</h1>
			<div class="sub header">
					<div><span><i class="calendar outline icon"></i>{{ .Date.Format "2 Jan 2006" }}</span></div>
					{{- if .Site.DisqusShortname -}}
					<div><span class="disqusComment"><i class="comment outline icon"></i><a href="{{ .Permalink }}#disqus_thread" class="disqus-comment-count" data-disqus-identifier="{{ .UniqueID }}"></a></span></div>{{- end }}
					<div><span><i class="clock outline icon"></i>~ {{ .ReadingTime }} 
					{{ if gt .ReadingTime 1 }}
					mins
					{{ else }}
					min
					{{ end }}
					{{ i18n "minRead" }}</span></div>
					<div><span><i class="angle double up icon"></i>{{ i18n "updateAt" }} {{ dateFormat "2 Jan 2006" .Lastmod }}</span></div>
			</div>
			<hr>
			{{- if .Site.Params.enableToc -}}
			{{- if .TableOfContents -}}
			<div class="toc">
				{{- .TableOfContents -}}
			</div>
			{{ end }}
			{{ end }}
			{{if .Params.Music}}
			<article>
				<audio src="/music/{{.Params.Music}}.mp3" loop controls>
					<embed 
						src="/music/{{.Params.Music}}.mp3"
						width="300"
						height="90"
						loop="true"
						autostart="false">
				</audio>
			</article>
			{{end}}
			<article class="justifyPost post-content twemoji">
				{{ partial "anchor.html" .Content }}
			</article>
		</section>
		<section class="ui secondary attached segment">
			<!--<a class="ui label" href="{{ .Params.urlImg }}" title="Lien vers l'artwork">Lien vers l'artwork</a>-->
			{{if .PrevInSection}}
			<a class="ui label prec" href="{{.PrevInSection.Permalink}}" title="Chapitre précédent">Chapitre précédent</a>
			{{else}}
			<a class="ui label prec empty" href="" title="Chapitre null">Chapitre null</a>
			{{end}}
			{{if .NextInSection}}
			<a class="ui label suiv" href="{{.NextInSection.Permalink}}" title="Chapitre suivant">Chapitre suivant</a>
			{{end}}
		</section>
		{{if .Params.PDF}}
		<section class="ui secondary attached segment">
			<a class="ui label prec" href="{{.Params.PDF}}.pdf" download="{{.Params.Title}}"><i class="download icon"></i>Télécharger le chapitre en version PDF</a>
		</section>
		{{end}}
		<!--
		<section class="ui secondary attached segment dream-tags">
			{{- if isset .Params "tags" -}}
				{{- partial "tags.html" . -}}				
			{{ else }}
			<span>{{ i18n "noTag" }}</span>
			{{ end }}
		</section>
		-->
		{{if .Params.Artwork}}
		<section class="ui secondary attached segment">
			<h3>Illustration du chapitre : </h3>
			{{if .Params.titleArt}}
			<p>Titre de l'image : {{.Params.titleArt}}</p>
			{{end}}
			{{if .Params.Artist}}
			<p>Artiste : {{.Params.Artist}}</p>
			{{end}}
			{{if .Params.urlImg}}
			Lien : <a href="{{index .Params.urlImg 0}}://{{index .Params.urlImg 1}}" title="{{index .Params.urlImg 1}}" target="_blank">
			{{ index .Params.urlImg 1 | truncate 40 }}</a>
			{{end}}
			{{if .Params.Music}}
			<p>Musique : {{.Params.Music}}</p>
			{{end}}
		</section>
		{{end}}
		{{- if .Site.Params.enableShareCard -}}
		<section class="ui secondary {{ if not .Site.DisqusShortname }}bottom{{ end }} attached segment share row box">
			{{- partial "share.html" . -}}
		</section>
		<section class="ui secondary attached segment copyright">
			{{ partial "copyright.html" . }}
		</section>
		{{ end }}
		{{- if .Site.DisqusShortname -}}
		<div class="ui secondary bottom attached stacked segment disqus">
			{{- partial "disqus.html" . -}}
		</div>
		{{ end }}
	</div>
</div>
{{ end }}